<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php" colors="true">
    <php>
        <server name="KERNEL_DIR" value="/path/to/your/app/" />
    </php>
    <testsuites>
      <testsuite name="My Test Suite">
        <directory>Tests/*Test.php files</directory>
       
      </testsuite>
    </testsuites>
</phpunit>